body {
  font-family: 'Titillium Web', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#projects {
  margin-top: 17vh;
  margin-bottom: 17vh;
}

#completed-curriculums {
  margin-top: 17vh;
  margin-bottom: 17vh;
}

#profile-img {
  clip-path: circle();
}

#info-section {
  text-align: center;
  border-right-style: inset;
}

ul {
  list-style-type: none;
}

#experience-section {

}

#technical-skills-section {
  
}